body{
    margin: 0;
    overflow-x: hidden;
}
.main{
    width:100%;
    height: 1000px;
    background-color: aqua;
    position: relative;
   
}
.NavBar{
    width:100%;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 1;
    margin-bottom: 20px;
  
    
}
.NavBarContent{
    display: flex;
    gap:45px;
    
    

}
.NavBarContent1{
    color:#333333;
    font-size: 16px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    font-weight: 400;
    position: relative;
    top: 15px;
    left: 59px;
   
}

.image1{
    width: 12%;
    height:10%;
    position: relative;
    top: 22px;
    left: 73px;
    
}
.NavBarIcon{
    position: relative;
    top: -19px;
    left: 1100px;
    display: flex;
    gap:10px;
}   
.Icon1{
    width:21px;
    height: 30px;
    
}
.Icon2{
    width:30px;
    height: 30px;
   
}
.Icon3{
    width:20px;
    height: 30px;
    
}
.div1{
    background-color: black;
    width: 100%;
    height: 440px;
    display: flex;
    padding-top: 70px;  
}
.divimage2{
    width: 50%;
    height: 440px; 
    background-color: blue;
}
.div1Contend1{
    position: relative;
    top: -282px;
    left: 81px;
    font-size: 28px;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
   
}
.div1Contend2{
    position: relative;
    top: -295px;
    left: 81px;
    font-size:20px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div1Contend3{
    position: relative;
    top: -295px;
    left: 81px;
    font-size:15px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.divimage3{
    width: 50%;
    height:440px;
    background-color: blueviolet;
}
.div1Contend4{
    position: relative;
    top: -280px;
    left: 77px;
    font-size: 28px;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div1Contend5{
    position: relative;
    top: -287px;
    left: 81px;
    font-size:20px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div1Contend6{
    position: relative;
    top: -285px;
    left: 81px;
    font-size:15px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.image2 {
    width: 100%;
    height: 440px; 
}
.image3{
    width: 100%;
    height: 440px
}
.div2{
    background-color: black;
    width: 100%;
    height: 440px;
    display: flex;      
}
.divimage4{
    width: 50%;
    height: 440px; 
    background-color: blue;

}
.div2Contend1{
    position: relative;
    top: -280px;
    left: 77px;
    font-size: 28px;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div2Contend2{
    position: relative;
    top: -287px;
    left: 81px;
    font-size:20px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div2Contend3{
    position: relative;
    top: -285px;
    left: 81px;
    font-size:15px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.divimage5{
    width: 50%;
    height:440px;
    background-color: blueviolet;
}
.div2Contend4{
    position: relative;
    top: -280px;
    left: 77px;
    font-size: 28px;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div2Contend5{
    position: relative;
    top: -287px;
    left: 81px;
    font-size:20px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div2Contend6{
    position: relative;
    top: -285px;
    left: 81px;
    font-size:15px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.image4 {
    width: 100%;
    height: 440px; 
}
.image5{
    width: 100%;
    height: 440px
}
.div3{
    background-color: black;
    width: 100%;
    height: 440px;
    display: flex;      
}
.divimage6{
    width: 50%;
    height: 440px; 
    background-color: blue;
}
.div3Contend1{
    position: relative;
    top: -280px;
    left: 77px;
    font-size: 28px;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div3Contend2{
    position: relative;
    top: -287px;
    left: 81px;
    font-size:20px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div3Contend3{
    position: relative;
    top: -285px;
    left: 81px;
    font-size:15px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.divimage7{
    width: 50%;
    height:440px;
    background-color: blueviolet;
}
.div3Contend4{
    position: relative;
    top: -280px;
    left: 77px;
    font-size: 28px;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div3Contend5{
    position: relative;
    top: -287px;
    left: 81px;
    font-size:20px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}
.div2Contend6{
    position: relative;
    top: -285px;
    left: 81px;
    font-size:15px;
    font-weight: 400;
    color: white;
    font-family: TCCC-UnityText-Regular, TCCC-UnityText, sans-serif;
}

.image6 {
    width: 100%;
    height: 440px; 
}
.image7{
    width: 100%;
    height: 440px
}
.EndBar{
    width:100%;
    height: 196px;
    background-color:#4a4a4a;
    position: relative;
    top: 1px;
   
}
.Endimage{
    width: 210px;
    height: 53px;
    position: relative;
    top:50px;
    left:60px;
}
.EndContend{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 18px;
    position: relative;
    top: -4px;
    left: 287px;
}
.EndContend1{
    color: white;
    font-size: 16px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    font-weight: 400;
}
.EndParagraph{
    color: white;
    font-size: 14px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    font-weight: 400;
    position: relative;
    top: 7px;
    left:50px;
}
.endcontend{
    width: 100%;
    display: flex;
    position: relative;
    top: -18px;
    left: -76px;
    gap:15px;
}
.EndContend2{
    color: white;
    font-size: 14px;
    font-family: "TCCC-UnityText-Regular", "TCCC-UnityText", sans-serif;
    font-weight: 400;
    position: relative;
    top: 7px;
    left:124px;
    }
.EndIcon{
    width: 100%;
    height: 14px;
    position: relative;
    top: -41px;
    left: 980px;
}
.button {
    background-color: #f8f8f8; /* Green */
    border: none;
    color: white;
    padding: 40px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1{
width: 30px;
height: 40px;
transition-duration: 0.4s;
cursor: pointer;
position: relative;
top: 20px;
left: 20px;
background-color: aqua;
}
.button1:hover{
    background-color: #4CAF50;
    color: white;
}
  